<!DOCTYPE html>
<html>
<head>
  <title>University Project - Loign</title>
  <%= stylesheet_link_tag "user_sessions", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
