<!DOCTYPE html>
<html>
<head>
  <title>University Project - Create New User</title>
  <%= stylesheet_link_tag "users", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav></nav>
  </header>

  <section>
  	<%= yield %>
  </section>

  <footer></footer>
</body>
</html>
